/* ==========================================================================
   COLORS
   ========================================================================== */


// Reds
$red--dark:                           #b52d32;
$red:                                 #e2383f;
$red--light:                          #f19c9f;



// Grayscale
$black:                               #000000;
$gray--darkest:                       #171717;
$gray--darker:                        #3c392d; // Ryans Brown
$gray--carousel:                      #403e34;
$gray--dark:                          #737373;
$gray:                                #a09e9a;
$gray--inactive:                      #b4b4b4;
$gray--light:                         #c1c0bd;
$gray--lighter:                       #e2e2e2;
$gray--lighter--2:                    #d0d0d0;
$gray--lightest:                      #F5F5F5;
$gray--marble:                        #191918;
$white:                               #FFFFFF;

// Greens
$artichoke-green:                     #00863f;