////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
/* ==========================================================================
   BREAKPOINT SETTINGS
   ========================================================================== */
$breakpoint-default-media: 'all';
$breakpoint-default-feature: 'min-width';
$breakpoint-default-pair: 'width';
$breakpoint-to-ems: true; //false is default

/* Declare breakpoints here - converted to ems automagically */
$breakpoint-sm: max-width 600px !default;
$breakpoint-md: min-width 601px !default;
$breakpoint-lg: min-width 960px !default;

/* Extra breakpoints */

/* 
 MD Max: this can be used for all but large breakpoint and up.
 === NOTE ===
 The use of 959px causes issues since IE likes to round down when converted to ems. 
 959px = 59.9375em <- this get's rounded down in ie causing a gap in breakpoint. 
 59.9775em is being used instead to fix that gap. 
 */
$breakpoint-md-max: max-width 59.9775em !default;

/* XL: this is used for extra large styling above 1400px. */ 
$breakpoint-xl: min-width 1400px !default; //converted to ems automagically


/* ==========================================================================
   SPRITES
   ========================================================================== */

$sprites: sprite-map("sprites/**/*.png", $spacing: 10px); // import 1x sprites
$sprites2x: sprite-map("sprites-retina/**/*.png", $spacing: 10px); // import 2x sprites, $layout: smart messes up retina positioning; 


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1030 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


/* ==========================================================================
   Modal Variables
   ========================================================================== */
$modal-content-bg: #fff;
$modal-content-fallback-border-color: #000;
$modal-content-border-color: #000;
$border-radius-large: 0px;
$modal-backdrop-bg: #000;
$modal-backdrop-opacity: 0.6;
$modal-title-padding: 10px;
$modal-header-border-color: #000;
$modal-title-line-height: 56px;
$modal-inner-padding: 10px;
$modal-footer-border-color: #000;
$screen-sm-min: $breakpoint-sm;

$modal-sm: 100%;
$modal-md: 580px;
$modal-lg: 900px;
